<?xml version="1.0" encoding="ISO-8859-1"?>
<!--

    Copyright (C) 2009 eXo Platform SAS.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->
<web-app
        version="3.0"
        metadata-complete="true"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

   <display-name>exoplatform-jcr</display-name>

   <filter>
      <filter-name>SetCurrentIdentityFilter</filter-name>
      <filter-class>org.exoplatform.services.security.web.SetCurrentIdentityFilter</filter-class>
   </filter>

   <filter>
      <filter-name>ThreadLocalSessionProviderInitializedFilter</filter-name>
      <filter-class>org.exoplatform.frameworks.jcr.web.ThreadLocalSessionProviderInitializedFilter</filter-class>
   </filter>

   <filter>
      <filter-name>JCRBrowserFilter</filter-name>
      <filter-class>org.exoplatform.applications.jcr.browser.JCRBrowserFilter</filter-class>
   </filter>
   <filter>
      <filter-name>RestContentFilter</filter-name>
      <filter-class>org.exoplatform.services.rest.servlet.RestEncodingFilter</filter-class>
      <init-param>
         <param-name>REQUEST_ENCODING</param-name>
         <param-value>UTF-8</param-value>
      </init-param>
   </filter>
   <filter-mapping>
      <filter-name>SetCurrentIdentityFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

   <filter-mapping>
      <filter-name>ThreadLocalSessionProviderInitializedFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

   <filter-mapping>
      <filter-name>JCRBrowserFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

   <filter-mapping>
      <filter-name>RestContentFilter</filter-name>
      <servlet-name>RestServer</servlet-name>
   </filter-mapping>

   <listener>
      <listener-class>org.exoplatform.ws.frameworks.servlet.StandaloneContainerInitializedListener</listener-class>
   </listener>

   <servlet>
      <servlet-name>RestServer</servlet-name>
      <description>eXo - Platform REST Server</description>
      <servlet-class>org.exoplatform.services.rest.servlet.RestServlet</servlet-class>
      <load-on-startup>4</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>RestServer</servlet-name>
      <url-pattern>/rest/*</url-pattern>
   </servlet-mapping>

   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>
   <jsp-config>
   <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
   </taglib>

   <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
      <taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
   </taglib>
   </jsp-config>
   <security-constraint>
      <web-resource-collection>
         <web-resource-name>user authentication</web-resource-name>
         <url-pattern>/user/*</url-pattern>
         <http-method>POST</http-method>
         <http-method>GET</http-method>
      </web-resource-collection>
      <auth-constraint>
         <role-name>users</role-name>
         <role-name>administrators</role-name>
      </auth-constraint>
      <user-data-constraint>
         <transport-guarantee>NONE</transport-guarantee>
      </user-data-constraint>
   </security-constraint>

   <security-constraint>
      <web-resource-collection>
         <web-resource-name>admin authentication</web-resource-name>
         <url-pattern>/admin/*</url-pattern>
         <http-method>POST</http-method>
         <http-method>GET</http-method>
      </web-resource-collection>
      <auth-constraint>
         <role-name>users</role-name>
         <role-name>administrators</role-name>
      </auth-constraint>
      <user-data-constraint>
         <transport-guarantee>NONE</transport-guarantee>
      </user-data-constraint>
   </security-constraint>

   <login-config>
      <auth-method>FORM</auth-method>
      <realm-name>exo-domain</realm-name>
      <form-login-config>
         <form-login-page>/login.jsp</form-login-page>
         <form-error-page>/login-error.jsp</form-error-page>
      </form-login-config>
   </login-config>

   <security-role id="ID_EXO_USER">
      <description>a simple user role</description>
      <role-name>users</role-name>
   </security-role>
   <security-role id="ID_EXO_ADMIN">
      <description>a simple admin role</description>
      <role-name>administrators</role-name>
   </security-role>

</web-app>
