jaasclient {
    // Login Module to use for the example jaasclient.

    //First, use a LoginModule for the authentication
    // Use the resource memrlm_1

    //By default it uses the server named 'jonas' to authenticate
    // to specify a different server name, use attribute 'serverName="myJonas"'
    org.objectweb.jonas.security.auth.spi.JResourceLoginModule required
    resourceName="memrlm_1"
	;

	// The previous JResourceLoginModule was renamed to JDirectResourceLoginModule
	// You need to activate the registration of resources in jonas.properties file


    // Use the login module to propagate security to the JOnAS server
    // globalCtx is set to true in order to set the security context
    // for all the threads of the client container instead of only
    // on the current thread.
    // Useful with multithread applications (like Swing Clients)
    org.objectweb.jonas.security.auth.spi.ClientLoginModule  required
    globalCtx="true"
	;
};

jetty {
    // Login Module to use for the web container Jetty


    // Uncomment this if you want to check that the certificates
    // were not revocated by the Certification Authority
    //org.objectweb.jonas.security.auth.spi.CRLLoginModule required
    //CRLsResourceName="Directory"
    //CRLsDirectoryName="/home/jonas/CRLs"
    //;


    //LoginModule for the authentication
    //add parameter certCallback="true" if you want use certificate callback
    // Use the resource memrlm_1
    //By default it uses the server named 'jonas' to authenticate
    // to specify a different server name, use attribute 'serverName="myJonas"'
    org.objectweb.jonas.security.auth.spi.JResourceLoginModule required
    resourceName="memrlm_1"
	;
};

test {
    // Login Module to use for the a client without setting for all threads the identity

    //LoginModule for the authentication
    //add parameter certCallback="true" if you want use certificate callback
    // Use the resource memrlm_1
    //By default it uses the server named 'jonas' to authenticate
    // to specify a different server name, use attribute 'serverName="myJonas"'
    org.objectweb.jonas.security.auth.spi.JResourceLoginModule required
    resourceName="memrlm_1"
	;

    //Security propagation
    org.objectweb.jonas.security.auth.spi.ClientLoginModule  required;
};
tomcat {
    // Use the eXo Platform JAAS login module
  org.exoplatform.services.security.j2ee.JonasLoginModule  required;    
};
exo-domain {
    // Use the eXo Platform JAAS login module
    // The same as shown above, just another name
  org.exoplatform.services.security.j2ee.JonasLoginModule  required;     
};
