			body {
				border: thin; 
				margin-left: 10mm;
				font-family: Verdana, Tahoma, Arial;
				font-size: 10pt;
				text-align: left;
				color: #3C0F19 
			}
			
			H1 { 
				margin-left: 0mm;
				font-family: Verdana, Tahoma, Arial;
				font-size: 14pt;
				text-align: left;
				color: #7C1529 
				}
			
			H2 { 
				margin-left: 10mm;
				font-family: Verdana, Tahoma, Arial;
				font-size: 11pt;
				text-align: left;
				color: #551320;
			}	
			
			H2.info { 
				margin-left: 10mm;
				font-family: Verdana, Tahoma, Arial;
				font-size: 11pt;
				text-align: left;
				color: #551320;
			}
			
			.infoText { 
				margin-left: 5mm;
				font-family: Verdana, Tahoma, Arial;
				font-size: 11pt;
				text-align: left;
				color: #C52142;
				text-decoration: none;
			}
				
			table { 
				margin-left: 15mm;
				font-size: 10pt;
				}
				
			table.subTable {
			  margin-left: 0mm;
				font-size: 10pt;
				}	
				
			td	{ 
				color: Black;
				margin-left: 2mm;
				margin-bottom: 2mm;				
				}
				
			td.key	{ 
				color: Black;
				border-bottom: 1px solid #535353;
				font-weight: bold;
				padding-right: 5mm;
				}		
				
			td.value	{ 
				color: Black;
				border-bottom: 1px solid #535353;
				padding-left: 1mm;
				}			
				